/* styles/globals.css */

/* Import Tailwind CSS base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global body background color and layout adjustments */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
